# HTML Walkthrough

In [1]:
import pandas as pd
import requests
import lxml

In [2]:
url = 'https://www.worldcoinindex.com/'
crypto_url = requests.get(url)
crypto_url

In [3]:
body = crypto_url.text

In [4]:
crypto_data = pd.read_html(body)
print(type(crypto_data))
print(len(crypto_data))

<class 'list'>
1

In [5]:
crypto_data = crypto_data[0]
crypto_data.head()

,#,Unnamed: 1,Name,Ticker,Last price,%,24 high,24 low,Price Charts 7d,24 volume,# Coins,Market cap
0,1,NaN,Bitcoin,BTC,"$ 37,065",-0.82%,"$ 38,120","$ 37,017",NaN,$ 24.44B,18.59M,$ 689.39B
1,2,NaN,Ethereum,ETH,"$ 1,095.82",-3.03%,"$ 1,147.13","$ 1,092.52",NaN,$ 15.05B,114.24M,$ 125.18B
2,3,NaN,Litecoin,LTC,$ 145.18,-1.55%,$ 149.84,$ 144.30,NaN,$ 3.00B,66.08M,$ 9.59B
3,4,NaN,Polkadot,DOT,$ 11.27,+3.16%,$ 11.65,$ 10.92,NaN,$ 1.85B,947.85M,$ 10.67B
4,5,NaN,Bitcoincash,BCH,$ 486.86,-1.95%,$ 507.05,$ 485.07,NaN,$ 1.62B,18.45M,$ 8.98B

### Web Scraping

In [6]:
page = requests.get("http://dataquestio.github.io/web-scraping-pages/simple.html")
page

In [7]:
page.status_code

200

In [8]:
page.content

b'<!DOCTYPE html>\n<html>\n    <head>\n        <title>A simple example page</title>\n    </head>\n    <body>\n        <p>Here is some simple content for this page.</p>\n    </body>\n</html>'

In [11]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')

In [12]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <p>
   Here is some simple content for this page.
  </p>
 </body>
</html>

In [13]:
list(soup.children)

['html',
 '\n',
 <html>
 <head>
 <title>A simple example page</title>
 </head>
 <body>
 <p>Here is some simple content for this page.</p>
 </body>
 </html>]

In [14]:
[type(item) for item in list(soup.children)]

[bs4.element.Doctype, bs4.element.NavigableString, bs4.element.Tag]

In [15]:
html = list(soup.children)[2]

In [16]:
list(html.children)

['\n',
 <head>
 <title>A simple example page</title>
 </head>,
 '\n',
 <body>
 <p>Here is some simple content for this page.</p>
 </body>,
 '\n']

In [17]:
body = list(html.children)[3]

In [18]:
list(body.children)

['\n', <p>Here is some simple content for this page.</p>, '\n']

In [19]:
p = list(body.children)[1]

In [21]:
p.get_text()

'Here is some simple content for this page.'

In [22]:
soup = BeautifulSoup(page.content, 'html.parser')
soup.find_all('p')

In [23]:
soup.find_all('p')[0].get_text()

'Here is some simple content for this page.'

In [24]:
soup.find('p')

In [26]:
page = requests.get("http://dataquestio.github.io/web-scraping-pages/ids_and_classes.html")
soup = BeautifulSoup(page.content, 'html.parser')
soup

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<div>
<p class="inner-text first-item" id="first">
                First paragraph.
            </p>
<p class="inner-text">
                Second paragraph.
            </p>
</div>
<p class="outer-text first-item" id="second">
<b>
                First outer paragraph.
            </b>
</p>
<p class="outer-text">
<b>
                Second outer paragraph.
            </b>
</p>
</body>
</html>

In [27]:
soup.find_all('p', class_='outer-text')

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>,
 <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

In [28]:
soup.find_all(class_='outer-text')

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>,
 <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

In [29]:
soup.find_all(id="first")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>]

In [30]:
soup.select("div p")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>,
 <p class="inner-text">
                 Second paragraph.
             </p>]

In [34]:
page = requests.get("https://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168")
soup = BeautifulSoup(page.content, 'html.parser')
seven_day = soup.find(id="seven-day-forecast-container")
forecast_items = seven_day.find_all(class_="tombstone-container")
tonight = forecast_items[1]
print(tonight.prettify())

<div class="tombstone-container">
 <p class="period-name">
  Tonight
  <br/>
  <br/>
 </p>
 <p>
  <img alt="Tonight: Partly cloudy, with a low around 49. North wind around 5 mph becoming calm  after midnight. " class="forecast-icon" src="newimages/medium/nsct.png" title="Tonight: Partly cloudy, with a low around 49. North wind around 5 mph becoming calm  after midnight. "/>
 </p>
 <p class="short-desc">
  Partly Cloudy
 </p>
 <p class="temp temp-low">
  Low: 49 °F
 </p>
</div>

In [36]:
period = tonight.find(class_="period-name").get_text()
short_desc = tonight.find(class_="short-desc").get_text()
temp = tonight.find(class_="temp").get_text()
print(period)
print(short_desc)
print(temp)

Tonight
Partly Cloudy
Low: 49 °F

In [37]:
img = tonight.find("img")
desc = img['title']
print(desc)

Tonight: Partly cloudy, with a low around 49. North wind around 5 mph becoming calm  after midnight.

In [38]:
period_tags = seven_day.select(".tombstone-container .period-name")
periods = [pt.get_text() for pt in period_tags]
periods

['NOW until9:00pm Wed',
 'Tonight',
 'Thursday',
 'ThursdayNight',
 'Friday',
 'FridayNight',
 'Saturday',
 'SaturdayNight',
 'Sunday']

In [49]:
short_descs = [sd.get_text() for sd in seven_day.select(".tombstone-container .short-desc")]
temps = [t.get_text() for t in seven_day.select(".tombstone-container .temp")]
descs = [d["title"] for d in seven_day.select(".tombstone-container img")]
print(len(short_descs))
print(len(temps))
print(len(descs))
temps.append(temp)
print(len(temps))

9
8
9
9

In [50]:
weather = pd.DataFrame({
    "period": periods,
    "short_desc": short_descs,
    "temp": temps,
    "desc":descs
})
weather

,period,short_desc,temp,desc
0,NOW until9:00pm Wed,High Surf Advisory,Low: 49 °F,
1,Tonight,Partly Cloudy,High: 65 °F,"Tonight: Partly cloudy, with a low around 49. ..."
2,Thursday,Mostly Sunny,Low: 48 °F,"Thursday: Mostly sunny, with a high near 65. C..."
3,ThursdayNight,Partly Cloudy,High: 64 °F,"Thursday Night: Partly cloudy, with a low arou..."
4,Friday,Partly Sunny,Low: 48 °F,"Friday: Partly sunny, with a high near 64. Nor..."
5,FridayNight,Mostly Clear,High: 65 °F,"Friday Night: Mostly clear, with a low around ..."
6,Saturday,Mostly Sunny,Low: 49 °F,"Saturday: Mostly sunny, with a high near 65."
7,SaturdayNight,Mostly Clear,High: 66 °F,"Saturday Night: Mostly clear, with a low aroun..."
8,Sunday,Sunny,Low: 49 °F,"Sunday: Sunny, with a high near 66."

In [53]:
temp_nums = weather['temp'].str.extract("(?P<temp_num>d+)", expand=False)
weather["temp_num"] = temp_nums.astype('float')
temp_nums

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
Name: temp_num, dtype: object

In [54]:
is_night = weather["temp"].str.contains("Low")
weather["is_night"] = is_night
is_night

0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8     True
Name: temp, dtype: bool

In [55]:
weather[is_night]

,period,short_desc,temp,desc,temp_num,is_night
0,NOW until9:00pm Wed,High Surf Advisory,Low: 49 °F,,NaN,True
2,Thursday,Mostly Sunny,Low: 48 °F,"Thursday: Mostly sunny, with a high near 65. C...",NaN,True
4,Friday,Partly Sunny,Low: 48 °F,"Friday: Partly sunny, with a high near 64. Nor...",NaN,True
6,Saturday,Mostly Sunny,Low: 49 °F,"Saturday: Mostly sunny, with a high near 65.",NaN,True
8,Sunday,Sunny,Low: 49 °F,"Sunday: Sunny, with a high near 66.",NaN,True