In [ ]:
print('Hello, World!')

In [ ]:
x = [1,2,3]
print(x[1:2])

In [ ]:
a = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [ ]:
a

In [ ]:
x = (
1+2
+ 3 + 4
+5 +6
)

In [ ]:
x

In [ ]:
print(
    'foo',
    'bar',
    'baz'
)

In [ ]:
'abc'.center(
    9,
    '_'
)

In [ ]:
t = (
    'a', 'b',
    'c', 'd'
)

In [ ]:
t

In [ ]:
d = {
    'a': 1,
    'b': 2
}

In [ ]:
d

In [ ]:
x1 = {
    'foo', 'bar', 'baz'
}

In [ ]:
x1

In [ ]:
a = [
    'foo', 'bar',
    'baz', 'qux'
]

In [ ]:
a

In [ ]:
a[
    1:2
]

In [ ]:
d[
    'b'
]

In [ ]:
a = [
    [
        ['foo', 'bar'],
        [1,2,3]
    ],
    {1,3,5},
    {
        'a': 1,
        'b': 2
    }
]

In [ ]:
a

In [ ]:
s = \
    'Hello, World!'

In [ ]:
s

In [ ]:
x = 1; y= 2; z = 3

In [ ]:
print(x); print(y); print(z)

In [ ]:
x, y, z = 1, 2, 3
print(x, y, z, sep='\n')

In [ ]:
a = ['foo', 'bar', 'baz'] # comment a= 3
a

In [ ]:
a = 'foobar # I am *not* a comment.'
a

In [ ]:
x = 1 + 2 + \ # comment?

In [ ]:
"""
Testing this coment out
"""

area = 3*4
print(area)

In [ ]:
x=3;y=12
x+y

In [ ]:
(x==3)and(x<y)

In [ ]:
s = "foo"'bar''''baz'''
s

In [ ]:
if y is 20: 
    print('yikes')
else:
    print('yup')

In [ ]:
x = 3

In [ ]:
x = 3

In [ ]:
x = set((1 ,2, 3, 4))

In [ ]:
x

In [ ]:
s = 'quux'
list(s)

In [ ]:
set(s)

In [ ]:
x = {'foo', 'bar', 'baz', 'foo', 'qux'}
x

In [ ]:
{'fooo'}

In [ ]:
set('fooo')

In [ ]:
x = set()
type(x)

In [ ]:
bool(x)

In [ ]:
x or 1

In [ ]:
x and 1

In [ ]:
x = {42, 'foo', (1, 2, 3), 4.14}
x

In [ ]:
a = [1, 2, 3]
{a}

In [ ]:
x = {'foo', 'bar', 'baz'}
len(x)

In [ ]:
'bar' in x

In [ ]:
'qux' in x

In [ ]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1 | x2

In [ ]:
x1.union(x2)

In [ ]:
x1 | ('baz', 'qux', 'quux')

In [ ]:
x1.union(('baz', 'qux', 'quux'))

In [ ]:
x1.intersection(x2)

In [ ]:
x1 & x2

In [ ]:
x1.difference(x2)

In [ ]:
x2.difference(x1)

In [ ]:
x1 - x2

In [ ]:
a = {1, 2, 3, 30, 300}
b = {10, 20, 30, 40}
c = {100, 200, 300, 400}
a.difference(b,c)

In [ ]:
a-b-c

In [ ]:
x1.symmetric_difference(x2)

In [ ]:
x1 ^ x2

In [ ]:
a ^ b ^ c

In [ ]:
x1.isdisjoint(x2)

In [ ]:
x2 - {'baz'}

In [ ]:
x1.isdisjoint(x2 - {'baz'})

In [ ]:
x1.issubset({'foo', 'bar', 'baz', 'qux', 'quux'})

In [ ]:
x1 <= x2

In [ ]:
x1 <= x1

In [ ]:
x1 < x1

In [ ]:
x1.issuperset({'foo', 'bar'})

In [ ]:
x1 >= x1

In [ ]:
x1 > x1

In [ ]:
x1

In [ ]:
x2

In [ ]:
x1 |= x2

In [ ]:
x1

In [ ]:
x1.update(['corge', 'garply'])

In [ ]:
x1

In [ ]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

In [ ]:
x1 &= x2
x1

In [ ]:
x1.intersection_update(['baz', 'qux'])

In [ ]:
x1

In [ ]:
x1 -= x2
x1

In [ ]:
x1.difference_update(['foo', 'bar', 'qux'])

In [ ]:
x1

In [ ]:
x1 ^= x2

In [ ]:
x1

In [ ]:
x1.symmetric_difference_update(['qux', 'corge'])

In [ ]:
x1

In [ ]:
x = {'foo', 'bar', 'baz'}
x.add('qux')
x

In [ ]:
x.remove('baz')
x

In [ ]:
x.remove('baz')

In [ ]:
x.remove('baz')

In [ ]:
x.discard('baz')

In [ ]:
x = {'foo', 'bar', 'baz'}

In [ ]:
x.pop()

In [ ]:
x.pop()

In [ ]:
x.pop()

In [ ]:
x

In [ ]:
x.clear()

In [ ]:
x

In [ ]:
x = frozenset(['foo', 'bar', 'baz'])

In [ ]:
x

In [ ]:
len(x)

In [ ]:
x & {'baz', 'qux', 'quux'}

In [ ]:
x.add('qux')

In [ ]:
id(x)

In [ ]:
s = {'baz', 'qux', 'quux'}

In [ ]:
x &= s
x

In [ ]:
id(x)

In [ ]:
x = 2

In [ ]:
x

In [ ]:
try:
    a = 5
    b = 0
    print(a/b)
except TypeError:
    print('Unsupported opperation.')
except ZeroDivisionError:
    print('Division by zero not allowed')
print("Out of try except blocks.")

In [ ]:
try:
    print("try block")
    x = int(input('Enter a number: '))
    y = int(input('Enter another number: '))
    z = x/y
except ZeroDivisionError:
    print("exept ZeroDivisionError block")
    print("Division by 0 not accepted")
else:
    print("else block")
    print("Division =", z)
finally:
    print('Finally block')
    x = 0
    y = 0
print("Out of try, except, else and finally blocks.")

In [ ]:
try:
    x = int(input('Enter a number upto 100: '))
    if x > 100:
        raise ValueError(x)
except ValueError:
    print(x, "is out of allowed range")
else:
    print(x, 'is within the allowed range')

In [ ]:
x = 1

In [ ]:
from collections import Counter

In [ ]:
cnt = Counter()
cnt

In [ ]:
list = [1,2,3,4,5,6,7,8,1]
Counter(list)

In [ ]:
Counter({1:3, 2:4})

In [ ]:
cnt = Counter(list)
print(cnt[1])

In [ ]:
cnt = Counter({1:3,2:4})
list(cnt.elements())

In [ ]:
list = [1,2,3,4,1,2,6,7,3,8,1]
cnt = Counter(list)
print(cnt.most_common())

In [ ]:
cnt = Counter({1:3, 2:4})
deduct = {1:1, 2:2}
cnt.subtract(deduct)
print(cnt)

In [ ]:
from collections import defaultdict

In [ ]:
nums = defaultdict(int)
nums['one'] = 1
nums['two'] = 2
print(nums['three'])

In [ ]:
count = defaultdict(int)
names_list = "Mike John Mike Anna Mike John John Mike Mike Britney Smith Anna Smaith".split()
for names in names_list:
    count[names] += 1
print(count)

In [ ]:
from collections import OrderedDict

In [ ]:
od = OrderedDict()
od['a'] = 1
od['b'] = 2
od['c'] = 3
print(od)

In [ ]:
for key, value in od.items():
    print(key, value)

In [ ]:
list = ['a', 'c', 'c', 'a', 'b', 'a', 'a', 'b', 'c']
cnt = Counter(list)
od = OrderedDict(cnt.most_common())
for key, value in od.items():
    print(key, value)

In [ ]:
from collections import deque

In [ ]:
list = ['a', 'b', 'c']
deq = deque(list)
print(deq)

In [ ]:
deq.append('d')
deq.appendleft('e')
print(deq)

In [ ]:
deq.pop()
deq.popleft()
print(deq)

In [ ]:
print(deq.clear())

In [ ]:
list = ['a', 'b', 'c']
deq = deque(list)
print(deq.count('a'))

In [ ]:
from collections import ChainMap

In [ ]:
dict1 = {'a':1, 'b':2}
dict2 = {'c':3, 'b':4}
chain_map = ChainMap(dict1, dict2)
print(chain_map.maps)

In [ ]:
print(chain_map['a'])

In [ ]:
print(chain_map['b'])

In [ ]:
dict2['c'] = 5
print(chain_map.maps)

In [ ]:
print(chain_map.keys())

In [ ]:
dict3 = {'e':5, 'f':6}
new_chain_map = chain_map.new_child(dict3)
print(new_chain_map)

In [ ]:
from collections import namedtuple

In [ ]:
Student = namedtuple('Student', 'fname, lname, age')
s1 = Student('John', 'Clarke', '13')
print(s1.fname)

In [ ]:
print(s1)

In [ ]:
s2 = Student._make(['Adam', 'joe', '18'])
print(s2)

In [ ]:
s2 = s1._asdict()
print(s2)

In [ ]:
s2 = s1._replace(age='14')
print(s1)

In [ ]:
print(s2)

In [ ]:
from  datetime import datetime

In [ ]:
datetime_object = datetime.now()
print(datetime_object)

In [ ]:
print('Type :-', type(datetime_object))

In [ ]:
my_string = '2019-10-31'
my_date = datetime.strptime(my_string, "%Y-%m-%d")

print(my_date)

In [ ]:
print('Type: ', type(my_date))

In [ ]:
print('Month: ', my_date.month)

In [ ]:
print('Year: ', my_date.year)

In [ ]:
import calendar
print('Day of Month: ', my_date.day)

In [ ]:
print('Day of Week(num)', my_date.weekday())

In [ ]:
print('Day of Week (name)', calendar.day_name[my_date.weekday()])

In [ ]:
j = 0
for i in calendar.day_name:
    print(j,'-',i)
    j += 1

In [ ]:
todays_date = datetime.now()
print('Hour: ', todays_date.hour)

In [ ]:
print('minute:', todays_date.minute)

In [ ]:
todays_date.isocalendar()[1]

In [ ]:
timestamp = datetime.timestamp(todays_date)

print('Date and Time:', todays_date)

In [ ]:
print('Timestamp:', timestamp)

In [ ]:
dt_object = datetime.fromtimestamp(timestamp)
dt_object

In [ ]:
print('dt-object:', dt_object)

In [ ]:
print('type', type(dt_object))

In [ ]:
from datetime import timedelta

d = timedelta(weeks=2)
print(d)

In [ ]:
print(type(d))

In [ ]:
print(d.days)

In [ ]:
year = timedelta(days=365)
print(year)

In [ ]:
now = datetime.now()
print('now:', str(now))

In [ ]:
future_date = now + timedelta(days = 15)
print('future:', future_date)

In [ ]:
past = now - timedelta(weeks = 2)
print('Past:', past)

In [ ]:
type(past)

In [ ]:
from datetime import date
date1 = date(2008,8,18)
date2 = date(2008,8,10)

delta = date2-date1
print('Difference:', delta.days)

In [ ]:
type(delta)

In [ ]:
date1 = datetime(2017,6,21,18,25,30)
date2 = datetime(2017,5,16,8,21,10)

diff = date1-date2
print(diff)

In [ ]:
date_string = "1 August, 2019"
date_object = datetime.strptime(date_string, "%d %B, %Y")
print(date_object)

In [ ]:
dt_string = "12/11/2018 09:15:32"
dt_object1 = datetime.strptime(dt_string, "%d/%m/%Y %H:%M:%S")
print(dt_object1)

In [ ]:
dt_object2 = datetime.strptime(dt_string, "%m/%d/%Y %H:%M:%S")
print(dt_object2)

In [ ]:
timestamp = datetime.timestamp(dt_object2)
print(timestamp)

In [ ]:
date_time = datetime.fromtimestamp(timestamp)
d = date_time.strftime("%c")
print(d)

In [ ]:
d = date_time.strftime("%x")
print(d)

In [ ]:
d = date_time.strftime("%X")
print(d)

In [ ]:
now = datetime.now()
year = now.strftime("%Y")
print(year)

In [ ]:
month = now.strftime("%m")
print(month)

In [ ]:
day = now.strftime("%d")
print(day)

In [ ]:
time = now.strftime("%H:%M:%S")
print(time)

In [ ]:
date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print(date_time)

In [ ]:
from pytz import timezone

east = timezone('US/Eastern')
loc_dt = east.localize(datetime(2011,11,2,7,27,0))
print(loc_dt)

In [ ]:
kolkata = timezone("Asia/Kolkata")
print(loc_dt.astimezone(kolkata))

In [ ]:
au_tz = timezone('Australia/Sydney')
print(loc_dt.astimezone(au_tz))

In [ ]:
import pandas as pd
date = pd.to_datetime("8th of sep, 2019")
print(date)

In [ ]:
import numpy as np
date_series = date + pd.to_timedelta(np.arange(12), 'D')
print(date_series)

In [ ]:
date_series = pd.date_range('08/10/2019', periods = 12, freq = 'D')
print(date_series)

In [ ]:
df = pd.DataFrame()
df['date'] = date_series
df.head()

In [ ]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute
df.head()

In [ ]:
df['weekday'] = df['date'].dt.weekday
df['day_name'] = df['date'].dt.day_name()
df['dayofyear'] = df['date'].dt.dayofyear
df.head()

In [ ]:
df.index = df.date
df.head()

In [1]:
import datetime

datetime_object = datetime.datetime.now()
print(datetime_object)

2021-01-05 19:19:14.575341

In [3]:
date_object = datetime.date.today()
print(date_object)

2021-01-05

In [4]:
d = datetime.date(2019, 4, 13)
print(d)

2019-04-13

In [6]:
from datetime import date
a = date(2019, 4, 13)
print(a)

2019-04-13

In [7]:
today = date.today()

In [8]:
print(today)

2021-01-05

In [9]:
timestamp = date.fromtimestamp(1326244364)
print(timestamp)

2012-01-10

In [10]:
print(today.year, today.month, today.day)

2021 1 5

In [11]:
from datetime import time

a = time()
print(a)

00:00:00

In [12]:
b = time(11,34,56)
print(b)

11:34:56

In [13]:
c = time(hour = 11, minute = 34, second = 56)
print(c)

11:34:56

In [14]:
d = time(11,34,56,234566)
print(d)

11:34:56.234566

In [15]:
print(b.hour, b.minute, b.second, b.microsecond)

11 34 56 0

In [16]:
from datetime import datetime

a = datetime(2018, 11, 28)
print(a)

2018-11-28 00:00:00

In [17]:
b = datetime(2017,11,28,23,55,59,342380)
print(b)

2017-11-28 23:55:59.342380

In [18]:
print(b.timestamp())

1511942159.34238

In [19]:
t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("type of t3 =", type(t3)) 
print("type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

In [20]:
from datetime import timedelta

t1 = timedelta(seconds = 33)
t2 = timedelta(seconds = 54)
t3 = t1-t2

print(t3)
print(abs(t3))

-1 day, 23:59:39
0:00:21

In [21]:
print(abs(-1))

1

In [22]:
t = timedelta(seconds = 40, microseconds = 123456)
print(t.total_seconds())

40.123456

In [23]:
now = datetime.now()
t = now.strftime("%H:%M:%S")
print(t)
s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
print(s1)

19:35:20
01/05/2021, 19:35:20

In [24]:
date_string = "21 June, 2018"
date_object = datetime.strptime(date_string, "%d %B, %Y")
print(date_object)

2018-06-21 00:00:00

In [25]:
import pytz

local = datetime.now()
print(local.strftime("%m/%d/%Y, %H:%M:%S"))

01/05/2021, 19:38:14

In [26]:
tz_NY = pytz.timezone('America/New_York') 
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

tz_London = pytz.timezone('Europe/London')
datetime_London = datetime.now(tz_London)
print("London:", datetime_London.strftime("%m/%d/%Y, %H:%M:%S"))

NY: 01/05/2021, 22:38:29
London: 01/06/2021, 03:38:29