# Pandas with SQL

In [2]:
import sqlite3 as sqlite
import pandas as pd
from sqlalchemy import create_engine

In [3]:
with sqlite.connect('population.db') as con:
    cur = con.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS Population(id INTEGER PRIMARY KEY, country TEXT, population INT)")
    cur.execute("INSERT INTO Population VALUES(NULL,'Germany',81197537)")
    cur.execute("INSERT INTO Population VALUES(NULL,'France', 66415161)")
    cur.execute("INSERT INTO Population VALUES(NULL,'Spain', 46439864)")
    cur.execute("INSERT INTO Population VALUES(NULL,'Italy', 60795612)")
    cur.execute("INSERT INTO Population VALUES(NULL,'Spain', 46439864)")

In [4]:
connection = create_engine('sqlite:///population.db')

In [5]:
sql = 'SELECT * FROM Population'

with connection.connect() as con:
    df = pd.read_sql_query(sql, con)
    
df

   id  country  population
0   1  Germany    81197537
1   2   France    66415161
2   3    Spain    46439864
3   4    Italy    60795612
4   5    Spain    46439864

In [6]:
table = 'Population'

with connection.connect() as con:
    df = pd.read_sql_table(table, con)
    
df

   id  country  population
0   1  Germany    81197537
1   2   France    66415161
2   3    Spain    46439864
3   4    Italy    60795612
4   5    Spain    46439864